*{
    margin: 0;
    padding: 0;
    font-family: Tahoma,sans-serif;
    box-sizing:  border-box;
}
/* Daca vreau sa schimb fundalul !
body{
     background: #007bff;
 }
*/

/* Fundalul panoului de Chat !  in care se afla butonul, textArea si Chatul*/
.chatbox{
    width:500px;
    min-width: 460px;
    height: 600px;
    /*background:  #fff;*/
    padding:  25px;
    margin: 20px auto;
    /*ox-shadow: 0 3px #ccc;*/
}

/*Zona de mesaje*/
.chatlogs{
    padding: 10px;
    width: 100%;
    height: 450px;
    background: #1d2124;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chatlogs::-webkit-scrollbar{
    width:10px;
}
.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom:5px;       /*distanta dintre mesaje*/
}
.chat .user-photo{
    width:60px;
    height:60px;
    background: #ccc;
    border-radius: 50%;      /*rotunjirea pozelor*/
}

.chat .chat-msg{
    width: 80%;
    padding: 10px;
    margin:5px 10px 0;
    background: #80bdff; /*culoare la chatbox per user*/
    border-radius: 10px;
    color: #fff;
    font-size:17px;
}

.friend .chat-msg{
    background: #9fcdff;
}

.self .chat-msg{
    background: #0eb2c1;
    order: -1;
}

.chat-form{
    margin-top:20px;
    display: flex;
    align-items: flex-start;
}
.chat-form textarea{
   background: #fbfbfb;
    width: 75%;
    height: 50px;
    border:2px solid #eee;
    border-radius: 3px;
    resize:none;
    padding:10px;
    font-size:18px;
    color:#333;
}

.chat-form textarea:focus{
    background: #fff;
}
.chat-form textarea::-webkit-scrollbar{
    width:10px;
}
.chat-form textarea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}
.chat-form button{
    background: #1ddced;
    padding: 5px 15px;
    font-size:27px;
    color: #fff;
    border:none;
    margin:0 10px;
    border-radius: 3px;
    box-shodow:0 3px 0 #0eb2c1;
    cursor: pointer;
    -webkit-transition:  background .2s ease;

}
.chat-form button:hover{
    background: #13c8d9;
}
.chat .user-photo{
    width:60px;
    height:60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.chat .user-photo img{
    width:100%;
}
